

.contact__container{
    margin-top: 15rem;
    display: grid;
    place-items: center;
    grid-template-columns: 35% 50%;
    gap: 10%;
}   

.contact__container p {
    margin: 1rem 0 ;
    color: white;

}

/* mettre image en saturation au deplacement souris */

.contact__image{
    margin-top: 10%;
    filter: saturate(0.25);
    transition: var(--transition);
}

.contact__image:hover{
    filter: saturate(10);
}

.contact__wrapper{
    width: fit-content;
    display: flex;
    gap: 2rem;
}

.contact__wrapper a {
    
    background: var(--color-primary);
    font-size: 2rem;
    border: 2px solid transparent;
    transition: var(--transition);
    padding: 2rem;
    border-radius: 1.5rem;
}

.contact__wrapper a:hover{
    background: transparent;
    border-color: var(--color-gray-100);
}

/* MEDIA QUERIES (petits écrans) */
@media screen and (max-width:600px) {

    .contact__image{
        display: none;
    }

    .contact__container{
        gap: 1.5rem;
        grid-template-columns: 1fr;
    }

    .contact__container a {
        padding: 1rem;
        font-size: 1.2rem;
        border-radius: 1rem;
    }
}