/* MAIN */

.main__header{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    margin-top: 3rem;
}

.main__header-container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
}

.main__header-left{
    margin-top: -3rem;
}

.main__header-left h4{
    margin-bottom: 1rem;
    color: var(--color-secondary);
    font-weight: 400;

}

.main__header-left p{
    margin: 1rem 0 3.5rem;
    font-size: 1.1rem;
    color: white;
}

.main__header-right{
    display: grid;
    place-items: center;
    position: relative;
}

/* cercle en arrière plan de la photo */
.main__header-circle{
    width: 25rem;
    height: 25rem;
    background: linear-gradient(75deg,var(--color-secondary),transparent);
    border-radius: 50%;
    position: absolute;
    transition: var(--transition);
    filter: blur(3px);
   
}

.main__header-image{
position: relative;   
}

/* hover au passage à droite de la souris */
.main__header-right:hover .main__header-circle{
    filter: blur(8px);
}

/* FAQ */

.faqs__container{
    margin-left: 1rem;
}

.faqs__wrapper{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 3rem;
    align-items: flex-start;
}

/* mise en place de bloc */
.faq{
    
    background: var(--color-gray-500);
    padding: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    color: gray;
}

.faq div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq__icon{
    background: transparent;
    color: var(--color-gray-100);
    font-size: 1rem;
}

.faq p{
    margin-top: 0.8rem;
}


/* FOOTER */

/* Barre footer */

footer{
    background: var(--color-primary);
    margin-top: 7rem;
    padding-top: 7rem;
    font-size: 0.9rem;
    color: var(--color-gray-100);
}

/* organisation en colomne */
.footer__container{
    display: grid;
    grid-template-columns: 26rem 1fr 1fr ;
    gap: 10rem;
}

/* alignement des éléments les uns sous les autres*/
.footer__container article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7rem;
}

.footer__container article p{
    margin-top: 0.5rem;
}

.footer__container article h4{
    margin-bottom: 0.6rem;
    font-size: 1rem;
}

/* icons social media */
.footer__socials {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.footer__socials a {
    background: var(--color-gray-100);
    padding: 0.7rem;
    border: 1px solid transparent;
    border-radius: 0.6rem;
    transition: var(--transition);
}

.footer__socials a svg {
    color: var(--color-gray-600);
}

.footer__socials a:hover{
    border-color: var(--color-gray-100);
    background: transparent;
}

.footer__copyright{
    color: var(--color-gray-100);
    text-align: center;
    padding: 1.5rem 0;
    border-top: 2px solid var(--color-primary-variant);
    margin-top: 5rem;
}

/* MEDIA QUERY PHONE ET TABLETTES*/ 
/* Medium screens */

@media screen and (max-width:1024px ) {
  .main__header{
    height: fit-content;
    padding: 12rem 0;
  }

  .main__header-container{
    gap: 0;
  }

  .main__header-circle{
    width: 16rem;
    height: 16rem;
  }

  .faqs__wrapper{
    grid-template-columns: 1fr;
  }

  .footer__container{
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }

}
  
/* MEDIA QUERY PHONE ET TABLETTES*/ 
/* Small screens */

@media screen and (max-width:600px ){
    .main__header{
        margin-top: 0;
        padding: 12rem 0 0 ;
        height: 100vh;
    }

    .main__header-image, .main__header-circle{
        display: none;
    }
    
    .main__header-container{
        grid-template-columns: 1fr;
    }

    .faqs__wrapper{
        gap: 1rem;
        margin-top: 3ezm;
    }

    footer {
        margin-top: 7rem;
    }

    .footer__container{
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .footer__container article{
        align-items: center;
    }


}