.programs{
    margin-top: 7rem;
}

.programs__wrapper{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 3rem;
    margin-top: 2rem;
}

.programs__program a {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.programs__program:hover a {
    background: var(--color-secondary);
    color: var(--color-gray-600);
}


/* MEDIA QUERY PHONE ET TABLETTES*/ 
/* Medium screens */

@media screen and (max-width:1024px ) {
    .programs__wrapper{
      grid-template-columns: 1fr 1fr;
    }

    

}

/* MEDIA QUERY PHONE ET TABLETTES*/ 
/* Medium screens */

@media screen and (max-width:600px ) {
    .programs__wrapper{
      grid-template-columns: 1fr;
      gap: 2rem;
      margin-top: 3rem;
    }

    .programs__program{
        width: 84%;
        margin: 0 auto;
    }

    

}